@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url("src/assets/fonts/MYRIADPRO-REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "MYRIADPRO-SEMIBOLD";
  src: url("src/assets/fonts/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
}

